html, body {
  background: #dadada;
}

#app.container {
  background: white;
  margin-top: 5em;
  box-shadow: 1px 1px 3px #999;
}

.section {
  padding-left: 0;
}

legend {
  margin-top: 1em;
}

label {
  margin-top: .5em;
}
