<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Musterformular</title>
  <link rel="stylesheet" href="static/bootstrap-4.3.1.min.css">
  <link rel="stylesheet" href="static/bulma/css/bulma.min.css">
  <link rel="stylesheet" href="static/app.css">
  <link rel="shortcut icon" href="static/logo.png">
</head>
<body>
  <div id="notification-header-inbox" class="has-background-info-dark has-text-info-light">
    <div class="container py-1">Just a simple Proof-of-Concept...</div>
  </div>
  <div id="app" class="container p-6">
    <h2 class="title is-2">Musterformular</h2>
    Musterformular generiert Formulare automatisiert anhand von FIM-Datenfeld-Schemata.
    Das gewünschte Formular kann anhand einer <i>Schema-URI</i>, der FIT-Connect <i>Destination-ID</i>, oder anhand von Zuständigkeitsinformationen über den FIT-Connect <i>Routingdienst</i> ermittelt werden.

    <div class="mt-3 tabs">
      <ul>
        <li v-bind:class="{ 'is-active': activeTab == 'schema-uri' }"><a v-on:click="selectTab('schema-uri')">Schema-URI</a></li>
        <li v-bind:class="{ 'is-active': activeTab == 'destination-id' }"><a v-on:click="selectTab('destination-id')">Destination-ID</a></li>
        <li v-bind:class="{ 'is-active': activeTab == 'routing-api' }"><a v-on:click="selectTab('routing-api')">Routingdienst</a></li>
      </ul>
    </div>

    <!-- schema uri input -->
    <div v-show="activeTab == 'schema-uri'" class="field has-addons">
      <div class="control is-expanded">
        <input class="input" type="text" placeholder="Schema-URI" v-model="schemaUri" v-on:keyup.enter="renderSchemaByUri">
      </div>
      <div class="control">
        <a class="button is-info" v-on:click="renderSchemaByUri">Render</a>
      </div>
    </div>

    <!-- destination id input -->
    <div v-show="activeTab == 'destination-id'" class="field has-addons">
      <div class="control is-expanded">
        <input class="input" type="text" placeholder="Destination-ID" v-model="destinationId" v-on:keyup.enter="findPublicServiceByDestinationId">
      </div>
      <div class="control">
        <a class="button is-info" v-on:click="findPublicServiceByDestinationId">Search</a>
      </div>
    </div>

    <!-- routing input -->
    <div v-show="activeTab == 'routing-api'" class="field has-addons">
      <div class="control is-expanded">
        <input class="input" type="text" placeholder="Leistungsschlüssel" v-model="leikaKey" v-on:keyup.enter="findPublicServiceByRoutingApi">
      </div>
      <div class="control is-expanded">
        <input class="input" type="text" placeholder="ARS" v-model="ars" v-on:keyup.enter="findPublicServiceByRoutingApi">
      </div>
      <div class="control">
        <a class="button is-info" v-on:click="findPublicServiceByRoutingApi">Search</a>
      </div>
    </div>

    <!-- service selection -->
    <section v-show="services.length != 0" class="mt-6 block section-services">
      <h3 class="title">Ermittelte Antragsleistungen</h3>
      <p>Antragsleistungen des durch die Destination-ID identifizierten Zustellpunktes:</p>
      <article class="box" v-for="service in services">
        <button class="button is-primary is-pulled-right" v-on:click="selectService(service)">Auswählen</button>
        <p>Leistungs-ID: {{ service.identifier }} <a :href="'https://opengovtech.de/leika/#' + service.identifier" target="_blank" class="button tag is-primary is-light">Lookup</a><p>
        <p>Regionen: <span v-for="region in service.regions" class="is-5">{{ region }} <a :href="'https://opengovtech.de/ars/#' + region.substr(2)" target="_blank" class="button tag is-primary is-light">Lookup</a></span></p>
      <article>
    </section>

    <section class="mt-6 block" v-show="form">
      <h3 class="title is-3">Automatisch generiertes Formular</h3>
      <div id="schemaform">Formular konnte nicht geladen werden.</div>
    </section>
  </div>

  <script type="module" src="static/vue-v2.6.12.js"></script>
  <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/@rjsf/core/dist/react-jsonschema-form.js"></script>
  <script type="module" src="static/app.js"></script>
</body>
</html>
